<h1>Candy Facts</h1>
<ul>
    <%=label_tag "Name"%>
    <li><%= @candy.name %></li><br>

    <%=label_tag "Calories"%>
    <li><%= @candy.calories%></li><br>

    <%=label_tag "Wrapper Color"%>
    <li><%= @candy.wrapper_color%></li><br>

    <%=label_tag "Nuts?"%>
    <li><%= @candy.has_nuts%></li><br>

</ul>